body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.884);
  font-family: "Poppins", sans-serif;
}
.App {
  text-align: center;
  position: relative;
  background: white;
  width: 300px;
  border-radius: 20px;
  padding-bottom: 25px;
}

.App h1,
.App button {
  background: #03a9f4;
  color: white;
  font-weight: 600;
}
.App h1 {
  padding: 20px;
}
.App ul {
  position: relative;
  padding: 20px;
}
.App ul li {
  position: relative;
  padding: 15px 0;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.384);
}

.App ul li:last-child {
  border-bottom: none;
}
li button {
  position: absolute;
  border-radius: 50%;
  transform: rotate(35deg) scale(-1, 1);
  right: 0px;
  top: 9px;
}
li button:hover {
  background-color: red;
}
button {
  all: unset;
  margin: 5px;
  border-radius: 5px;
  padding: 1px 11px;
  text-align: center;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.884);
  font-weight: bolder;
  opacity: 0.6;
  text-transform: uppercase;
}

button:hover {
  background-color: green;
}
input {
  border-radius: 20px;
  padding: 5px 50px;
  text-align: center;
  margin-bottom: 10px;
}
